.effectsBoard {
  display: flex;
  padding: 60px;
}

.Effect {
  background-color: #ffffff;
  width: 300px;
  padding: 20px;
  border: 2px solid #1b4793;
  border-radius: 14px;

  h1,
  h2,
  h3 {
    text-transform: uppercase;
    text-align: center;
  }

  .controlsContainer {
    padding: 10px 0 40px;

    .controlRow {
      padding: 15px 0;
    }
  }
}
