.effectsBoard {
  display: flex;
  padding: 60px;
}

.Effect {
  background-color: #ffbbbb;
  width: 350px;
  height: 275px;
  padding: 20px;
  border: 2px solid #ffbbbb;
  border-radius: 14px;
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 10px 10px 1px #a53424;

  h1,
  h2,
  h3 {
    text-transform: uppercase;
    text-align: center;
  }

  .controlsContainer {
    padding: 5px 0 25px;

    .controlRow {
      padding: 15px 0;
    }
  }
}
