.Slider {
  position: relative;
  width: 100%;
  height: 28px;
  // background: grey;
  border: 2px solid #fac93c;
  background-color: #fff8e6;
  border-radius: 14px;

  .thumb {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    background: #ef3c23;
    transition: all 0.1s ease;
  }
}
